.menu-btn {
  position: fixed;
  top: 13px;
  right: 30px;
  width: 40px;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width:768px) {
  .hamburger{
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 3;
  }
  .hamburger .bar, .hamburger:after, .hamburger:before{
      content: '';
      display: block;
      width: 100%;
      height: 5px;
      background-color: #fff;
      margin: 6px 0px;
      transition: 0.4s;
  }
  .hamburger.is-active:before{
      transform: rotate(-45deg) translate(-8px, 6px);
  }
  .hamburger.is-active:after{
      transform: rotate(45deg) translate(-9px, -8px);
  }
  .hamburger.is-active .bar{
      opacity: 0;
  }
  .mobile-nav {
      position: fixed;
      top: 0;
      left: 100%;
      width: 100%;
      min-height: 100vh;
      display: block;
      z-index: 2;
      background-color: #2466e0;
      padding-top: 120px;
      transition: 0.4s;
  }

  .mobile-nav.is-active{
      left: 0;
  }

  .mobile-nav a{
      display: block;
      width: 100%;
      max-width: 100px;
      margin: 0 auto 10px;
      text-align: center;
      padding: 12px 16px;
          
      color: #fff;
      text-decoration: none;
      font-weight: bold;
  }

  .mobile-nav a:hover{
      background-color: #2e74f7;
      border-radius: 8px;
  }


  .nav-container nav{
    display: none;
  }

  body,
  html {
    overflow-x: hidden;
  }

  .contact {
    display: none;
  }

/* logo area */
  .logo-area h1 {
    display: none;
  }
  .logo-area .logo {
    display: none;
  }

  .logo2{
    top: 17px;
    left: 5%;
    display: block;
    position: fixed;
    width: 150px;
    z-index: 3;
  }

  /* header */
  .header{
    overflow: hidden;
    position: relative;
    padding: 0 20px;
  }
  .header .container-top {
    margin: 100px 0 0;
  }
  .header .header-img{
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 150px;
    right: 0px;
    opacity: 50%;
  }
.header .container-top h1 {
  font-size: 32px;
  font-weight: 800;
  z-index: 1;
}
.header .container-top p{
  z-index: 1;
}
.header .container-top .header-btn{
  z-index: 1;
}
.header .container-top .social{
  z-index: 1;
}
  .header .container-top .social h5{
    font-size: 14px;
  }

  /* intro me */
  .intro-me {
    display: flex;
    flex-direction: column;
  }
  .intro-me img{
    width: 350px;
  }
    .intro-me .about-content .content-head li{
      font-size: 12px;
    }

  /* Floating SM */
    .floating-sm{
      top: 45vh;
      right: 5px;
    }


  /* intro-me */
  .intro-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 20px;
  }

  /* services */
  .services-offer h1{
    margin: 20px auto;
  }
  .services{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  /* counter */
  .counter {
    display: flex;
    background-color: #2466e0;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
  }
  .counter {
    gap: 15px;
  }
  .counter .count {
    display: flex;
    gap: 5px;
  }

  .counter .count img {
    width: 60px;
    height: 60px;
  }

  .counter .count .detail h1 {
    font-size: 40px;
    color: white;
  }

  .counter .count .detail h4 {
    color: white;
    font-size: 14px;
  }

  /* portfolio */
  .portfolio .portfolio-images {
    display: flex;
    flex-direction: column;
  }
    .portfolio .portfolio-images img{
      width: 350px;
    }
  .portfolio-flyer .flyer-images{
    display: flex;
    flex-direction: column;
  }
    .portfolio-flyer .flyer-images img{
      width: 350px;
    }
  
  .go-to-top{
    top: 10890px;
  }
}