.nav-container{
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 100px;
     background-color: #2466e0;
     padding: 0 50px;
     position: fixed;
     width: 100%;
     z-index: 3;
 }
 
/* logo area */
.nav-container img{
     width: 40px;
}
.logo-area{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 20px;
}
.logo-area h1{
     font-size: 20px;
     color: #fff;
}
.logo2{
     display: none;
}

/* links */
.nav-container a{
     text-decoration: none;
     font-size: 14px;
     font-weight: 600;
     margin: 0 10px;
     color: #fff;
 }
 
.nav-container .contact{
     color: #2466e0;
     background-color: #fff;
     border-radius: 10px;
     padding: 10px;
     font-weight: 600;
}

.hamburger, .mobile-nav{
     display: none;
}